<nav class="flex flex-wrap items-center justify-between bg-slate-700 p-6">
    <div class="mr-6 flex flex-shrink-0 items-center text-slate-200">
        <svg
            class="mr-2 h-8 w-8 fill-current"
            fill="#ffffff"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 610.398 610.398"
            xml:space="preserve"
            stroke="#ffffff"
        >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
                <g>
                    <g>
                        <path
                            d="M159.567,0h-15.329c-1.956,0-3.811,0.411-5.608,0.995c-8.979,2.912-15.616,12.498-15.616,23.997v10.552v27.009v14.052 c0,2.611,0.435,5.078,1.066,7.44c2.702,10.146,10.653,17.552,20.158,17.552h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553 V35.544V24.992C180.791,11.188,171.291,0,159.567,0z"
                        ></path>
                        <path
                            d="M461.288,0h-15.329c-11.724,0-21.224,11.188-21.224,24.992v10.552v27.009v14.052c0,13.804,9.5,24.992,21.224,24.992 h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553V35.544V24.992C482.507,11.188,473.007,0,461.288,0z"
                        ></path>
                        <path
                            d="M539.586,62.553h-37.954v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.247,0-40.349-19.79-40.349-44.117 V62.553H199.916v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.248,0-40.349-19.79-40.349-44.117V62.553H70.818 c-21.066,0-38.15,16.017-38.15,35.764v476.318c0,19.784,17.083,35.764,38.15,35.764h468.763c21.085,0,38.149-15.984,38.149-35.764 V98.322C577.735,78.575,560.671,62.553,539.586,62.553z M527.757,557.9l-446.502-0.172V173.717h446.502V557.9z"
                        ></path>
                        <path
                            d="M353.017,266.258h117.428c10.193,0,18.437-10.179,18.437-22.759s-8.248-22.759-18.437-22.759H353.017 c-10.193,0-18.437,10.179-18.437,22.759C334.58,256.074,342.823,266.258,353.017,266.258z"
                        ></path>
                        <path
                            d="M353.017,348.467h117.428c10.193,0,18.437-10.179,18.437-22.759c0-12.579-8.248-22.758-18.437-22.758H353.017 c-10.193,0-18.437,10.179-18.437,22.758C334.58,338.288,342.823,348.467,353.017,348.467z"
                        ></path>
                        <path
                            d="M353.017,430.676h117.428c10.193,0,18.437-10.18,18.437-22.759s-8.248-22.759-18.437-22.759H353.017 c-10.193,0-18.437,10.18-18.437,22.759S342.823,430.676,353.017,430.676z"
                        ></path>
                        <path
                            d="M353.017,512.89h117.428c10.193,0,18.437-10.18,18.437-22.759c0-12.58-8.248-22.759-18.437-22.759H353.017 c-10.193,0-18.437,10.179-18.437,22.759C334.58,502.71,342.823,512.89,353.017,512.89z"
                        ></path>
                        <path
                            d="M145.032,266.258H262.46c10.193,0,18.436-10.179,18.436-22.759s-8.248-22.759-18.436-22.759H145.032 c-10.194,0-18.437,10.179-18.437,22.759C126.596,256.074,134.838,266.258,145.032,266.258z"
                        ></path>
                        <path
                            d="M145.032,348.467H262.46c10.193,0,18.436-10.179,18.436-22.759c0-12.579-8.248-22.758-18.436-22.758H145.032 c-10.194,0-18.437,10.179-18.437,22.758C126.596,338.288,134.838,348.467,145.032,348.467z"
                        ></path>
                        <path
                            d="M145.032,430.676H262.46c10.193,0,18.436-10.18,18.436-22.759s-8.248-22.759-18.436-22.759H145.032 c-10.194,0-18.437,10.18-18.437,22.759S134.838,430.676,145.032,430.676z"
                        ></path>
                        <path
                            d="M145.032,512.89H262.46c10.193,0,18.436-10.18,18.436-22.759c0-12.58-8.248-22.759-18.436-22.759H145.032 c-10.194,0-18.437,10.179-18.437,22.759C126.596,502.71,134.838,512.89,145.032,512.89z"
                        ></path>
                    </g>
                </g>
            </g>
        </svg>
        <span class="text-xl font-semibold tracking-tight">DailyDoku</span>
    </div>
    <div class="block md:hidden">
        <button
            class="flex items-center rounded border border-slate-300 px-3 py-2 text-slate-300 hover:border-slate-100 hover:text-slate-100"
            data-collapse-target="collapse-1"
            (click)="menuOpen.set(!menuOpen())"
        >
            <svg
                class="h-3 w-3 fill-current"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div
        class="block h-0 w-full flex-grow overflow-hidden duration-300 ease-out sm:transition-all md:flex md:h-12 md:w-auto md:items-center md:transition-none"
        [class.h-[200px]]="menuOpen()"
        [class.md:h-12]="!menuOpen()"
    >
        <div class="mb-2 mt-2 md:mb-0 md:mt-0 md:mr-4 md:flex md:items-center">
            <div class="relative">
                <input
                    type="text"
                    placeholder="Search games or types..."
                    class="w-full rounded-lg bg-slate-600 px-4 py-2 text-slate-200 placeholder-slate-400 focus:bg-slate-500 focus:outline-none focus:ring-2 focus:ring-slate-300 md:w-64"
                    [value]="searchTerm()"
                    (input)="onSearchChange($event)"
                />
                <svg
                    class="absolute right-3 top-2.5 h-5 w-5 text-slate-400"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    />
                </svg>
            </div>
        </div>
        <div class="text-sm md:flex-grow">
            <a
                class="mr-2 block cursor-pointer px-2 py-2 text-slate-300 hover:text-slate-100 sm:h-10 md:inline-block md:h-12 md:pt-4"
                (click)="openSuggestDialog()"
            >
                Suggest a game
            </a>
            <!-- <a
        href="#responsive-header"
        class="block md:h-12 sm:h-10 md:inline-block text-teal-200 hover:text-white mr-2 md:pt-4 sm:pt-2 px-2"
      >
        Give feedback
      </a> -->
        </div>
        <div class="mb-2 md:mb-0">
            <button
                class="mr-4 flex rounded border border-slate-300 px-4 py-2 font-semibold text-slate-300 hover:border-slate-100 hover:text-slate-100"
                [class.bg-transparent]="!filterFavourites()"
                [class.bg-slate-300]="filterFavourites()"
                [class.text-slate-700]="filterFavourites()"
                [class.hover:border-slate-600]="filterFavourites()"
                [class.hover:text-slate-600]="filterFavourites()"
                (click)="onFilterFavourites()"
            >
                Favourites
                <span class="ml-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        [attr.fill]="filterFavourites() ? 'currentColor' : 'none'"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path
                            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                        />
                    </svg>
                </span>
            </button>
        </div>
        <div>
            <a href="https://www.buymeacoffee.com/kotarcreative" target="_blank"
                ><img
                    alt="Buy Me A Coffee"
                    src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
                    class="object-fit h-[42px]"
            /></a>
        </div>
    </div>
</nav>
