<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg
      class="fill-current h-8 w-8 mr-2"
      width="54"
      height="54"
      viewBox="0 0 54 54"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"
      />
    </svg>
    <span class="font-semibold text-xl tracking-tight">DailyDoku</span>
  </div>
  <div class="block md:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
      data-collapse-target="collapse-1"
      (click)="menuOpen.set(!menuOpen())"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div
    data-collapse="collapse-1"
    class="sm:h-0 md:h-12 w-full block flex-grow overflow-hidden sm:transition-all md:transition-none duration-300 ease-out md:flex md:items-center md:w-auto"
    [class.sm:h-32]="menuOpen()"
  >
    <div class="text-sm md:flex-grow">
      <a
        class="block md:h-12 sm:h-10 md:inline-block cursor-pointer text-teal-200 hover:text-white mr-2 md:pt-4 sm:pt-2 px-2"
        (click)="openSuggestDialog()"
      >
        Suggest a game
      </a>
      <!-- <a
        href="#responsive-header"
        class="block md:h-12 sm:h-10 md:inline-block text-teal-200 hover:text-white mr-2 md:pt-4 sm:pt-2 px-2"
      >
        Give feedback
      </a> -->
    </div>
    <div>
      <a href="https://www.buymeacoffee.com/kotarcreative" target="_blank"
        ><img
          alt="Buy Me A Coffee"
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
          class="h-12 object-fit"
      /></a>
    </div>
  </div>
</nav>
